# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Tooling
.mypy_cache/
.ruff_cache/
.cache/

# Data & Outputs (keep placeholders via .gitkeep)
inputs/
!inputs/**/.gitkeep
outputs/
!outputs/**/.gitkeep

# Logs
logs/
*.log

# Env
.env
.env.*

